<div class="modal fade" id="cargando">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content ">

            <div class="modal-body text-center">

                <img src="/images/loading1.gif" width="250px"/>

            </div>


        </div>
    </div>
</div>
