<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">

            <img src="~/Img/logo.png" width="90px" />
            Taurus
        </a>

        <ul class="sidebar-nav">
            <li>
                <a data-bs-target="#catEmpaque" data-bs-toggle="collapse"  class="sidebar-header" aria-controls="catEmpaque" aria-expanded="false">
                    <span class="align-middle">Catalogo de empaque</span>
                </a>
                <ul id="catEmpaque" class="sidebar-dropdown list-unstyled collapse multi-collapse show"  >
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Agricultores" asp-action="index">
                            <span class="align-middle">Agricultores</span>
                        </a>
                    </li>


                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Cultivos" asp-action="index">
                            <span class="align-middle">Cultivos</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Envases" asp-action="index">
                            <span class="align-middle">Envase</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="FamiliaCultivos" asp-action="index">
                            <span class="align-middle">Familia Cultivos</span>
                        </a>
                    </li>

                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Lotes" asp-action="index">
                            <span class="align-middle">Lotes</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Productos" asp-action="index">
                            <span class="align-middle">Productos</span>
                        </a>
                    </li>


                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Tamanos" asp-action="index">
                            <span class="align-middle">Tamanos</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Rol" asp-action="index">
                            <span class="align-middle">Rol</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="RolUsuario" asp-action="index">
                            <span class="align-middle">Rol Usuario</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Usuarios" asp-action="index">
                            <span class="align-middle">Usuarios</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="TipoCambio" asp-action="index">
                            <span class="align-middle">Tipo de cambios</span>
                        </a>
                    </li>
                </ul>
            </li>

 
            <li>
                <a data-bs-target="#catEmbarque" data-bs-toggle="collapse" class="sidebar-header" aria-controls="catEmbarque" aria-expanded="false">
                    <span class="align-middle">Catalogo de embarques</span>

                </a>
                <ul id="catEmbarque" class="sidebar-dropdown list-unstyled collapse multi-collapse show"  >
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="AgenciaAduana" asp-action="index">
                            <span class="align-middle">Agencia Aduanal</span>
                        </a>
                    </li>

                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Chofer" asp-action="index">
                            <span class="align-middle">Chofer</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Cliente" asp-action="index">
                            <span class="align-middle">Cliente</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Destinos" asp-action="index">
                            <span class="align-middle">Destinos</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="LineaTransporte" asp-action="index">
                            <span class="align-middle">Linea de Transporte</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Remolque" asp-action="index">
                            <span class="align-middle">Remolque</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Vehiculos" asp-action="index">
                            <span class="align-middle">Vehiculos</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link" asp-controller="Empresa" asp-action="index">
                            <span class="align-middle">Empresa</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item ">
                <a class="sidebar-link" asp-controller="temporada" asp-action="index">
                    <span class="align-middle">Temporada</span>
                </a>
            </li>
            <li class="sidebar-item ">
                <a class="sidebar-link" asp-controller="bancos" asp-action="index">
                    <span class="align-middle">Bancos</span>
                </a>
            </li>
            <li class="sidebar-item ">
                <a class="sidebar-link" asp-controller="articulos" asp-action="index">
                    <span class="align-middle">Articulos</span>
                </a>
            </li>

        </ul>
    </div>
</nav>