
<div class="modal" id="modalNuevo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lote</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="cerrarModalNuevo">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre">Folio</label>
                    <input v-model="obj.folio" type="text" class="form-control" style="width:100%" />
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label class="control-label">Lote </label>
                        <select v-model="obj.idLote" class="form-control">
                            <option v-for="option in lotes" v-bind:value="option.idLote">
                                {{option.nombre}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label class="control-label">Cultivo </label>
                        <select v-model="obj.idCultivo" class="form-control">
                            <option v-for="option in cultivos" v-bind:value="option.idCultivo">
                                {{option.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre">Mayordomo</label>
                    <input v-model="obj.mayordomo" type="text" class="form-control" style="width:100%" />
                </div>
                <div class="form-group">
                    <label for="nombre">Chofer</label>
                    <input v-model="obj.chofer" type="text" class="form-control" style="width:100%" />
                </div>

                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label for="nombre">Placas vehiculo</label>
                        <input v-model="obj.placasVehiculo" type="text" class="form-control" style="width:100%" />
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="nombre">Placas remolque</label>
                        <input v-model="obj.placasRemolque" type="text" class="form-control" style="width:100%" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label for="nombre">Cajas</label>
                        <input v-model="obj.cajas" type="text" class="form-control" style="width:100%" />
                    </div>
                    <div class="form-group  col-12 col-md-6">
                        <label for="nombre">Kilogramos</label>
                        <input v-model="obj.kilogramos" type="text" class="form-control" style="width:100%" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="guardar">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="cerrarModalNuevo">Cerrar</button>
            </div>
        </div>
    </div>
</div>
