    .main .content {

        padding:0.5rem;
    }
/*    .main nav{
        padding-bottom:0.5rem;
        padding-top:0.5rem;
    }
    .main nav ul li a{
        font-size:1.3rem;
    }
    .main nav .sidebar-toggle{
        font-size:0.5rem;
    }
    .main .navbar {

      
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;*/
